//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; //IMPORT BUAT BOOTSTRAP JANGAN DIHAPUS
@import "node_modules/materialize-css/sass/materialize.scss"; //IMPORT BUAT MATERIALIZE JANGAN DIHAPUS
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

$base-color1: #FFFFFF; //WHITE
$base-color2: #8D230F; //RED
$base-color3: #e0e0e0;//GREY
$base-color4: #008080; //TEAL
$font: 'Roboto', sans-serif;
$oswald: 'Oswald', sans-serif;
$signika: 'Signika', sans-serif;
html, body {
    height: 100%;
}

.page-content {
    padding-left: 15%;
    top: 4.4em;
    .second-navbar {
        height: 40px;
        line-height: 40px;
    }

    .nav-wrapper {
        background: #FFFFFF;
        ul, li, a {
            color: #333333;     
        }
    }

    .container {
        width: 95%;
        .header {
            padding-top: 25px;
            padding-bottom: 25px;
            font-size: 30px;
            font: 100%;
        }

        .row{
            form{
                .browse{
                    input{
                        color: black;
                    }
                } 
            }
        }
        .btn{
            background-color: black;
        }

        .kelola-content {
            table {
                .btn-floating {
                    background-color: $base-color4;
                }
            }
        }
    }
}