//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; //IMPORT BUAT BOOTSTRAP JANGAN DIHAPUS
@import "node_modules/materialize-css/sass/materialize.scss"; //INI UDAH BENER MANGGILNYA
@import url(https://fonts.googleapis.com/css?family=Montserrat|Lato:900,400);

$base-color1: #fff;
$base-color2: #222;
$base-color3: #999;
$heading-font: 'Montserrat', sans-serif;
$content-font: 'Josefin Slab', serif;
$coba-tulisan: 'Lato', serif;

html, body {
  height: 100%;
  width: 100%;
}

.page-content {
  //padding-left: 220px;
  padding-left: 15%;
  top: 4.4em;
  .second-navbar {
    height: 40px;
    line-height: 40px;
  }

  .nav-wrapper {
    background: #FFFFFF;
    ul, li, a {
      color: #333333;     
    }
  }

  .container {
    width: 95%;
    .header {
      padding-top: 25px;
      padding-bottom: 25px;
      font: 100%;
    }
    .daftar-content {
        
    }

    .kelola-repository-content {
      .card {
        .card-image  {
          .card-title {
            color: blue;
          }
        }
      }
    }

    .repository-content {
      .card {
        .card-image  {
          .card-title {
            color: blue;
          }
        }
      }
    }
  }
}

.font-saya {
  font: 120% $coba-tulisan;
}

tr.hover {
  cursor: pointer;
  /* whatever other hover styles you want */
}

//KELOLA REPOSITORY
.publikasi {
  ul, li, .collection-header {
    background-image : url("..images/publication.jpg");
  }
  .collection .with-header .collection-header {
    background-image : url("..images/publication.jpg");
  }
}

.kegiatan {
  ul, li, .collection-header {
    background-image : url("..images/kegiatan.png");
  }
  .collection .with-header .collection-header {
    background-image : url("..images/kegiatan.png");
  }
}

#search-bar {
  #buku, #artikelIlmiah, #artikelPopuler, #penelitian, #pengabdianMasyarakat, #kegiatanIlmiah {
    padding-top : 20px;
  }
}