//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; //IMPORT BUAT BOOTSTRAP JANGAN DIHAPUS
@import "node_modules/materialize-css/sass/materialize.scss"; //INI UDAH BENER MANGGILNYA
@import url(https://fonts.googleapis.com/css?family=Montserrat|Lato:900,400);

$base-color1: #fff;
$base-color2: #222;
$base-color3: #999;
$heading-font: 'Montserrat', sans-serif;
$content-font: 'Josefin Slab', serif;

html, body {
    height: 100%;
}

.page-content {
    padding-left: 15%;
    top: 4.4em;
    .second-navbar {
        height: 40px;
        line-height: 40px;
    }

    .nav-wrapper {
        background: #FFFFFF;
        ul, li, a {
            color: #333333;     
        }
    }

    .container {
        width: 95%;
        .header {
            padding-top: 25px;
            padding-bottom: 25px;
            font-size: 30px;
            font: 100% $heading-font;
        }

        .row{
            form{
                .browse{
                    input{
                        color: black;
                    }
                }
                
            }


        }
        .btn{
                    background-color: black;
                }

    }
}